# Flow Analysis

In this notebook I want to create something that will read all of the files that we have created and make a dataframe that makes flow analysis simple.

### To Do 
- [x] Think there is a dupliacte node at 93 as 93 + 0 -> moved to the 1000 format
- [ ] Add in Bipartite and explore data


### Folder  Structure

All data needs to be in the data folder

* Bipartite
* Monopartite
* Extinction

Also excluded bipartite as we need all nodes to have the same meaning

In [30]:
import os 
import pandas as pd

In [31]:
os.listdir('data')

['Extinction', 'Monopartite', 'Original_data', 'Bipartite']

## Fetch all network files

In [72]:
def get_all_files(path):
    files = []
    for dirpath, _, filenames in os.walk(path):
        for f in filenames:
            files.append(os.path.abspath(os.path.join(dirpath, f)))
    return files

all_files = get_all_files('data') #Get all files
all_files= [f for f in all_files if f.find('Original_data')==-1] #Filter out input excel and matrix
all_files= [f for f in all_files if f.find('read')==-1] #filter readme
#all_files =[f for f in all_files if f.find('Bipartite')==-1] # Filter out until in the same format as the others
all_files

['/home/ubuntu/Information_Theory/data/Extinction/rm_plant72_num_freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1083_num_freq_thr_1',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant26_freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant1_freq_thr_15',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1622_freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1256_num_freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1671_freq_thr_15',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1679_num_freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant15_freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1147_freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant2_freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant0_num_freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant3_freq_thr_15',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant2_num_freq_thr_1',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant64_num_freq_thr_1',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant15_num_freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1210_freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1436_num_freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1622_freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant4_freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1147_freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1322_freq_thr_15',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_pol1460_freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant0_freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Extinction/rm_plant6_freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_2',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_11',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_13',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_15',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_3',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_7',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_1',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_14',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_6',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_12',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_8',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_9',
 '/home/ubuntu/Information_Theory/data/Monopartite/freq_thr_4',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_5',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_10',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_2',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_11',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_13',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_15',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_3',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_7',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_1',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_14',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_6',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_0',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_12',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_8',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_9',
 '/home/ubuntu/Information_Theory/data/Bipartite/freq_thr_4']

## Syntax Transfroms

To build a comparible dataframe all of the files need to be in the same syntax we set the pollenators to start at 1000 so they are distinct from the plant nodes

In [74]:
def update_pol_drop_path(path, start_pol): # changes the rm_pol information in file path 
    rm_out= 'NA'
    drop_key='rm_pol'
    rm = path.find(drop_key)
    if rm != -1: 
        old_num=int(re.search(r'\d+', path[rm+len(drop_key):]).group())
        if old_num<1000: #old format(added the number of pollenators)
            old_start_pol= 93
        else: #1000 added for visual ease
            old_start_pol= 1000
        rm_out=str(old_num-old_start_pol+start_pol)
        new_path = path[:rm]+drop_key+rm_out +path[rm+len(drop_key)+len(str(old_num)):]
        os.rename(path,new_path)

def reformat_poll(path, start_pol = 1000):
    with open(path, 'r') as file:
        out_list =[]
        for line in file:
            out_line = line
            columns=line.split(' ')
            if columns[0].isnumeric():
                if int(columns[0])>93:# leave the plant numbers unchanged start after them
                    if int(columns[0])<1000: #old format(added the number of pollenators)
                        old_start_pol= 93
                    else: #1000 added for visual ease
                        old_start_pol= 1000
                    columns[0]=str(int(columns[0])-old_start_pol+start_pol)
                    out_line= ' '.join(columns)
            out_list.append(out_line)
    with open(path, 'w') as file:
        for line in out_list: 
            file.write(line)
    update_pol_drop_path(path, start_pol)

## Functions to run infomap and store inputs in dataframe

In [76]:
import re 

def get_thres_f(path):
    thres_pos = path.find('freq_thr_')
    return path[thres_pos + len('freq_thr_'):]

def get_map_type(path):
    path=path.lower()
    out_type ='NA'
    map_type = ['bipartite', 'monopartite','extinction']
    for t in map_type:
        if path.find(t)!=-1: out_type = t
    return out_type

#just fetches the next number after the search match
def get_dropped(path, drop_key='rm_plant'):
    rm_out= 'NA'
    rm = path.find(drop_key)
    if rm != -1: 
        rm_out=int(re.search(r'\d+', path[rm+len(drop_key):]).group())
    return rm_out

def run_infomap(path):
    from infomap import Infomap
    im=Infomap(silent=True)
    im.readInputData(path)
    im.run()
    
    df_ = im.get_dataframe()
    df_['thres_freq']= get_thres_f(path)
    df_['type'] = get_map_type(path)
    df_['rm_plant'] = get_dropped(path)
    df_['rm_poll'] = get_dropped(path, drop_key='rm_pol')
    return df_

In [75]:
for file in all_files:
    reformat_poll(file)

In [77]:
#path = 'data/bipartite_freq_thr_9'
run_infomap(all_files[0])

        path      flow  name  node_id thres_freq        type  rm_plant rm_poll
0     (1, 1)  0.095527    11       11          0  extinction        72      NA
1     (1, 2)  0.023411  1322     1322          0  extinction        72      NA
2     (1, 3)  0.007734  1050     1050          0  extinction        72      NA
3     (1, 4)  0.006480  1219     1219          0  extinction        72      NA
4     (1, 5)  0.005853  1414     1414          0  extinction        72      NA
..       ...       ...   ...      ...        ...         ...       ...     ...
755  (33, 3)  0.000209    28       28          0  extinction        72      NA
756  (34, 1)  0.000836  1208     1208          0  extinction        72      NA
757  (34, 2)  0.000209    48       48          0  extinction        72      NA
758  (35, 1)  0.000418    69       69          0  extinction        72      NA
759  (35, 2)  0.000209  1337     1337          0  extinction        72      NA

[760 rows x 8 columns]

In [78]:
os.listdir('data')

['Extinction', 'Monopartite', 'Original_data', 'Bipartite']

## Merge all the flow data for into one dataframe

In [79]:
i=0
for f in all_files:
    if i==0:
        df=run_infomap(f)
    else:
        df=pd.concat( [df,run_infomap(f)], ignore_index=True)
    i+=1
df

,path,flow,name,node_id,thres_freq,type,rm_plant,rm_poll
0,"(1, 1)",0.095527,11,11,0,extinction,72,NA
1,"(1, 2)",0.023411,1322,1322,0,extinction,72,NA
2,"(1, 3)",0.007734,1050,1050,0,extinction,72,NA
3,"(1, 4)",0.006480,1219,1219,0,extinction,72,NA
4,"(1, 5)",0.005853,1414,1414,0,extinction,72,NA
...,...,...,...,...,...,...,...,...
12498,"(9, 3)",0.000000,Andrena halictoides,1649,4,bipartite,NA,NA
12499,"(10, 1)",0.004892,rufinerve,25,4,bipartite,NA,NA
12500,"(10, 2)",0.000000,EMPIDIDAE31,1168,4,bipartite,NA,NA
12501,"(11, 1)",0.003914,annuus,12,4,bipartite,NA,NA
12502,"(11, 2)",0.000000,Blitopertha orientalis,1387,4,bipartite,NA,NA

### Identifying which models have max flow

In [80]:
df.sort_values('flow',  ascending=False)[1:10]

,path,flow,name,node_id,thres_freq,type,rm_plant,rm_poll
10457,"(1, 1)",0.427056,aemula,0,15,bipartite,NA,NA
10427,"(1, 1)",0.389234,aemula,0,13,bipartite,NA,NA
12278,"(1, 1)",0.385356,aemula,0,12,bipartite,NA,NA
10390,"(1, 1)",0.362319,aemula,2,11,bipartite,NA,NA
10128,"(1, 1)",0.349650,aemula,2,10,bipartite,NA,NA
12363,"(1, 1)",0.302115,aemula,3,9,bipartite,NA,NA
12311,"(1, 1)",0.300836,aemula,4,8,bipartite,NA,NA
10612,"(1, 1)",0.293421,aemula,4,7,bipartite,NA,NA
11449,"(1, 1)",0.265661,aemula,5,6,bipartite,NA,NA

In [81]:
df.groupby(['type'])['flow'].mean().to_frame()

                 flow
type
bipartite    0.006520
extinction   0.003292
monopartite  0.006520

### Node comparison

In [82]:
df[df['node_id']==4]

,path,flow,name,node_id,thres_freq,type,rm_plant,rm_poll
253,"(4, 24)",0.000209,4,4,0,extinction,72,NA
1013,"(4, 24)",0.000209,4,4,1,extinction,NA,1083
1545,"(4, 1)",0.043011,4,4,5,extinction,26,NA
1611,"(5, 2)",0.023929,4,4,15,extinction,1,NA
1648,"(10, 1)",0.009964,4,4,10,extinction,NA,1622
1902,"(4, 24)",0.000209,4,4,0,extinction,NA,1256
2419,"(4, 2)",0.026316,4,4,15,extinction,NA,1671
2728,"(5, 24)",0.000209,4,4,0,extinction,NA,1679
3210,"(4, 1)",0.043011,4,4,5,extinction,15,NA
3298,"(11, 1)",0.009632,4,4,10,extinction,NA,1147
3336,"(11, 1)",0.009402,4,4,10,extinction,2,NA
3591,"(4, 24)",0.000209,4,4,0,extinction,0,NA
4111,"(5, 2)",0.023929,4,4,15,extinction,3,NA
4474,"(8, 1)",0.020894,4,4,1,extinction,2,NA
5128,"(4, 24)",0.000209,4,4,1,extinction,64,NA
5888,"(4, 24)",0.000209,4,4,0,extinction,15,NA
6429,"(10, 1)",0.009615,4,4,10,extinction,NA,1210
6785,"(6, 24)",0.000212,4,4,0,extinction,NA,1436
7241,"(2, 2, 1)",0.040000,4,4,5,extinction,NA,1622
7304,"(11, 1)",0.009402,4,4,10,extinction,4,NA
7326,"(1, 3, 1)",0.043668,4,4,5,extinction,NA,1147
7396,"(5, 2)",0.032646,4,4,15,extinction,NA,1322
7425,"(4, 1)",0.043431,4,4,5,extinction,NA,1460
7514,"(11, 1)",0.009402,4,4,10,extinction,0,NA
7542,"(4, 1)",0.043011,4,4,5,extinction,6,NA
7621,"(4, 1)",0.043011,4,4,5,monopartite,NA,NA
7710,"(11, 1)",0.009402,4,4,10,monopartite,NA,NA
7857,"(10, 1)",0.014608,4,4,2,monopartite,NA,NA
7971,"(11, 1)",0.009735,4,4,11,monopartite,NA,NA
7997,"(9, 1)",0.013105,4,4,13,monopartite,NA,NA
8016,"(5, 2)",0.023929,4,4,15,monopartite,NA,NA
8039,"(2, 1)",0.037625,4,4,3,monopartite,NA,NA
8179,"(2, 1, 1)",0.145182,4,4,7,monopartite,NA,NA
8574,"(8, 1)",0.020894,4,4,1,monopartite,NA,NA
8989,"(5, 2)",0.022673,4,4,14,monopartite,NA,NA
9037,"(2, 3, 1)",0.021264,4,4,6,monopartite,NA,NA
9317,"(4, 24)",0.000209,4,4,0,monopartite,NA,NA
9847,"(7, 2)",0.012218,4,4,12,monopartite,NA,NA
9875,"(2, 1)",0.148760,4,4,8,monopartite,NA,NA
9930,"(3, 1, 1)",0.052906,4,4,9,monopartite,NA,NA
9968,"(1, 2, 1)",0.042718,4,4,4,monopartite,NA,NA
10102,"(5, 1)",0.086768,alatus,4,5,bipartite,NA,NA
10164,"(10, 1)",0.019231,crenata,4,10,bipartite,NA,NA
10349,"(8, 1)",0.029275,pubescens,4,2,bipartite,NA,NA
10425,"(11, 1)",0.019928,crenata,4,11,bipartite,NA,NA
10451,"(8, 1)",0.026915,lineariloba,4,13,bipartite,NA,NA
10469,"(4, 1)",0.050398,incisa,4,15,bipartite,NA,NA
10493,"(2, 1)",0.075440,macrophylla,4,3,bipartite,NA,NA
10612,"(1, 1)",0.293421,aemula,4,7,bipartite,NA,NA
10672,"(1, 4)",0.041806,thunbergii,4,1,bipartite,NA,NA
11442,"(4, 1)",0.046914,incisa,4,14,bipartite,NA,NA
11507,"(8, 1)",0.042923,hortensis,4,6,bipartite,NA,NA
11544,"(1, 27)",0.000418,acerifolia,4,0,bipartite,NA,NA
12300,"(6, 1)",0.025048,lineariloba,4,12,bipartite,NA,NA
12311,"(1, 1)",0.300836,aemula,4,8,bipartite,NA,NA
12382,"(3, 1)",0.107251,trichocarpa,4,9,bipartite,NA,NA
12469,"(5, 1)",0.086106,alatus,4,4,bipartite,NA,NA